@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-image: url('/res/background.jpg');
    -webkit-background-size: cover;
    bacground-size: cover;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

a.button {
    background: #298cad;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-bottom: 4px solid #36d2ff;
}

a.button:hover {
    color: #ffffff;
}

a.profile-edit {

}


.button::before, .button::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #27bfdc;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .3s;
    z-index: -1;
}

.button::after {
    background: #36d2ff;
    top: 100%;
    left: 0;
    transition-delay: .2s;
}

.button:hover::before {
    left: 0;
}

.button:hover::after {
    top: 0;
}

#disabled {
    cursor: default;
    color: #883025;
}

.recover {
    margin-top: 38px;
    font-size: 15px;
}

label[for='ckbox2'] {
    cursor: pointer;
    padding-left: 35px;
    width: 260px;
    display: block;
    position: relative;
}

label[for='ckbox2']::before {
    content: '';
    position: absolute;
    border: 2px solid #ffffff;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition: .2s;
}

#ckbox2:checked + label::before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(40deg);
    width: 12px;
    height: 22px;
    transform-origin: 100% 100%;
    top: -4px;
    left: -5px;
}

#ckbox2:not(:checked),
#ckbox2:checked {
    display: none;
}

label[for='ckbox1'] {
    cursor: pointer;
    padding-left: 35px;
    width: 260px;
    display: block;
    position: relative;
}

label[for='ckbox1']::before {
    content: '';
    position: absolute;
    border: 2px solid #ffffff;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border-radius: 3px;
    transition: .2s;
}

#ckbox1:checked + label::before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(40deg);
    width: 12px;
    height: 22px;
    transform-origin: 100% 100%;
    top: -4px;
    left: -5px;
}

#ckbox1:not(:checked),
#ckbox1:checked {
    display: none;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
